{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Catalog with Albums-->
<section id="catalogPage">

    <!--  If No albums in catalog -->
    <p>No Curses in Catalog!</p>

    <!-- If albums in catalog -->
    <h1>All Courses</h1>
    <!-- First Card-Box in catalog -->
    <div class="card-box">
        <img src="{% static 'images/course_image.jpg' %} "
             alt="Cover Image"
             width="250"
             height="250"
        >
        <div>
            <div class="text-center">
                <p class="name">Name: In These Silent Days</p>
                <p class="artist">Artist: Brandi Carlile</p>
                <p class="genre">Genre: Other</p>
                <p class="price">Price: $12.80</p>
            </div>
            <div class="btn-group">
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    <!-- End First Card-Box in catalog -->

</section>
{% endblock %}
